body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ddd;
}


p {
    font-size: 20px;
}

#scrollTopButton {
    display: none; /* Начнет скрываться, пока страница не прокручена */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

